@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Shorten</h1>
    <p>A simple URL shortener service built with ASP.NET Core.</p>
    
    <div class="card mt-5 shadow-sm">
        <div class="card-body">
            <h5 class="card-title text-primary">Información del Laboratorio</h5>
            <p class="card-text"><strong>Curso:</strong> Seguridad de Aplicaciones</p>
            <p class="card-text"><strong>Estudiante:</strong> MAUJRICIO ARIAN CHOQUEÑA CHOQUE</p>
        </div>
    </div>
</div>
